.navbar {
  border-bottom: 1px solid #444444;
}

.navbar button.navbar-toggle:focus {
  
}

.navbar .navbar-brand img {
  width: 30px;
  position: relative;
  top: -3px;
  margin-right: 8px;
}

.navbar .navbar-brand a {
  color: #eee;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

.navbar .navbar-brand a:hover {
  text-decoration: none;
  color: #fff;
}

.navbar .hashtag-search {
  font-size: 13px;
  height: 30px;
}

.navbar .nav-link {
  font-size: 14px;
  margin-right: 0.75em;
}

.navbar .logged-in {
  color: #ddd;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.navbar .logged-in .current-user a {
  color: #fff;
  font-weight: 600;
  margin: 0 12px 0 6px;
  font-size: 13px;
}

.navbar .logged-in .current-user a:hover {
  text-decoration: none;
}

.navbar .photo {
  float: left;
  position: relative;
  width: 65%;
  padding-bottom: 65%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .photo.profile {
  width: 30px;
  padding-bottom: 30px;
  border-radius: 100%;
  margin-right: 0.5em;
  box-shadow: 0px 0px 0px 1px #7c7c90;
}

.navbar div.logout {
  color: #007bff;
  cursor: pointer;
  margin-right: 0;
}

.navbar div.logout:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .navbar .hashtag-search {
    margin-top: 20px;
  }
  
  .navbar .post-photo {
    margin-top: 20px;
  }

  .navbar .logged-in {
    margin-top: 15px;
  }

  .navbar .logout {
    margin-top: 5px;
  }
}
