.EditProfile > .card {
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
}

.EditProfile .photo.profile {
  width: 100px;
  padding-bottom: 100px;
  position: relative;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  background-color: gainsboro;
}

.EditProfile .choose-image label {
  background-color: #888;
  color: #fff;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 13px;
}

.EditProfile .choose-image label:hover {
  background-color: #777;
}

.EditProfile .choose-image .selected-file {
  margin-bottom: 10px;
  font-size: 13px;
}

.EditProfile .choose-image input {
  display: none;
}

.EditProfile .character-count {
  float: right;
  color: #aaaaaa;
}

.EditProfile textarea {
  font-size: 13px;
}
