.Loading {
  text-align: center;
  margin-top: 20px;
}

.Loading .lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.Loading .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 10px solid #999;
  border-radius: 50%;
  animation: lds-ring 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999 transparent transparent transparent;
}
.Loading .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.Loading .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.Loading .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
