.NewPhotoModal .modal-container {
  width: 95%;
  max-width: 350px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  padding: 35px 30px;
}

.NewPhotoModal .modal-container h2 {
  font-family: "Lato";
  font-size: 20px;
}

.NewPhotoModal .photo {
  float: left;
  position: relative;
  width: 65%;
  padding-bottom: 65%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 auto;
  margin-bottom: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.NewPhotoModal .photo::after {
  content: "";
  transition: background-color 100ms ease-out;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.NewPhotoModal .photo:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}

.NewPhotoModal .choose-image label {
  background-color: #888;
  color: #fff;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 13px;
}

.NewPhotoModal .choose-image label:hover {
  background-color: #777;
}

.NewPhotoModal .choose-image .selected-file {
  margin-bottom: 10px;
  font-size: 13px;
  display: none;
}

.NewPhotoModal .choose-image input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
}

.NewPhotoModal #comment {
  font-size: 13px;
}

.NewPhotoModal #comment + label {
  float: right;
  color: #aaaaaa;
  margin-top: 5px;
  margin-bottom: 10px;
}

.NewPhotoModal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5em;
  margin: 0.25em;
  cursor: pointer;
}

.NewPhotoModal i.close-button:hover {
  color: rgba(255, 255, 255, 0.65);
}
