.Signup .photo.profile {
  width: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: gainsboro;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Signup .choose-image .title {
  font-size: 13px;
  margin: 10px 0;
}

.Signup .choose-image label {
  background-color: #888;
  color: #fff;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 13px;
}

.Signup .choose-image label:hover {
  background-color: #777;
}

.Signup .choose-image .selected-file {
  margin-bottom: 10px;
  font-size: 13px;
}

.Signup .choose-image input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
}
